<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to test WKWebView media device capabilities.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to test WKWebView media device and WebRTC capabilities.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app accesses your location to test WKWebView geolocation capabilities.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app saves screenshots to your photo library.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6737616702687889~9215154150</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
